.container {
  display: flex;
  flex-direction: column;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 20px 60px;
}

.load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.load-more button {
  cursor: pointer;
  padding: 7px 30px;
  border-radius: 5px;
  border: none;
  font-size: 0.95em;
  color: white;
  background: rgb(38, 149, 201);
}

.load-more button:hover {
  background: #1B82B1;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0 0 150px;
}

.filter h3 {
  margin: 10px 0 7px 0;
}

.filter input {
  background-color: rgba(224, 234, 245, 0.842);
  border-radius: 5px;
  padding: 10px 20px;
  border-style: none;
  font-size: 1.1rem;
}
